<%= render partial: "shared/nav" %>

<section id="all_discounts"> 
  <% @merchant.bulk_discounts.each do |discount| %> 
    <p><strong>Discount: </strong><%= discount.name %></p>
    <li><strong>Percentage: </strong><%= "#{discount.percentage}%" %> | <strong> Minimum Items: </strong><%= discount.threshold %></li>
  <% end %> 
</section>